.Todo {
  align-items: center;
  background-color: rgba(196, 196, 196, 0.2);
  border-radius: 4px;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  padding: 8px;
  width: 340px;
}

.TodoLeftContents {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.TodoToggle {
  background-color: transparent;
  border-radius: 50%;
  height: 24px;
  padding: 2px;
  width: 24px;
}

.completed {
  background-color: rgba(0, 255, 0, 0.2);
}

.completed .description {
  text-decoration: line-through;
}

.overdue:not(.completed) {
  background-color: rgba(255, 0, 0, 0.2);
}
