.Todo {
  background-color: rgba(196, 196, 196, 0.2);
  border-radius: 4px;
  font-size: 18px;
  padding: 8px;
  width: 340px;
}

.TodoToggle {
  background-color: transparent;
  border-radius: 50%;
  height: 24px;
  padding: 2px;
  width: 24px;
}
